.custom-shape-divider-bottom-1638777738 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638777738 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 253px;
}

.custom-shape-divider-bottom-1638777738 .shape-fill {
    fill: #58C3F3;
}

.custom-shape-divider-top-1638778056 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1638778056 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 224px;
}

.custom-shape-divider-top-1638778056 .shape-fill {
    fill: #58C3F3;
}