:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
}

body {
    font-family:Arial, Sans-Serif;
}
.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
a{
    color:#0067ab;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 5rem;
  }
  
  h1 > span {
    text-align: center;
    vertical-align: middle;
    font-size: 2.4rem;
    font-weight: 500;
  }
  
  h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 2.8rem;
    font-weight: 500;
  }

.form{
    width: 300px;
    margin: 0 auto;
}
input[type='text'], input[type='email'],
input[type='password'] {
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
}
input[type='submit']{
    padding: 10px 25px 8px;
    color: #fff;
    background-color: #0067ab;
    text-shadow: rgba(0,0,0,0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
    border: 1px solid #0164a5;
    border-radius: 2px;
    margin-top: 10px;
    cursor:pointer;
}
input[type='submit']:hover {
    background-color: #024978;
}








.custom-shape-divider-bottom-1638705498 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1638705498 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 206px;
}

.custom-shape-divider-bottom-1638705498 .shape-fill {
  fill: #58C3F3;
}

.custom-shape-divider-top-1638705065 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1638705065 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 135px;
}

.custom-shape-divider-top-1638705065 .shape-fill {
  fill: #58C3F3;
}

.custom-shape-divider-bottom-1638706257 {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
overflow: hidden;
line-height: 0;
transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638706257 svg {
position: relative;
display: block;
width: calc(101% + 1.3px);
height: 260px;
}

.custom-shape-divider-bottom-1638706257 .shape-fill {
fill: #58C3F3;
}